.bars {
  background-color: whitesmoke;
  padding: 2.5% 10%;
  width: 80%;
  transition: all 1s;
}
.bars:hover {
  border: 1px solid black;
}
.bar-container {
  display: grid;
  place-items: center;
}
